.PlayUpload {
  grid-area: 1/1/2/2;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  outline: none;
  transition: border 0.24s ease-in-out;
  font-size: 1.25em;
  flex: 1;
  display: flex;
  align-items: center;
  margin: 2.5px;
  
  p {
    margin: 5px 10px;
    text-align: center;
    width: 100%;
  }
}

