.Report-Question{
  padding: 10px;
  margin: 2.5px;
  p{
    margin: 0px;
    display: flex;
    align-items: center;
  }

  &-image {
    position: relative;
    height: 250px;
    img {
      object-fit: cover;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: calc(100% - 10px);
    }
    padding: 2.5px;
    margin: 2.5px;
  }
}