.QuestionOptions {
  .MuiFormGroup-root {
    display: block;
    flex-wrap: nowrap;
  }

  &-container {
    grid-area: 2/1/4/2;
    height: calc(100% - 60px);
    overflow: auto;

    p{
      margin: 0px;
    }

    &-Snippet {
      width: 50%;
      margin: 10px auto;
      height: fit-content;
    }

    &-item {
      font-size: 1.5rem;
      border-radius: 5px;

      .MuiTypography-body1 {
        font-size: 18px;
      }
      .MuiFormControlLabel-root {
        width: 100%;
        margin: 0px;
      }
      pre{
        padding: 0px 5px;
        background: white;
      }
    }
  }
}

.Question-container-option-FIB {
  margin: 0px 10px;
}
