.PlaySettings {
  grid-template-rows: 350px 1fr 50px 50px;
  display: grid;
  height: 100%;
  grid-area: 1/3/4/4;
  margin: 2.5px;
  padding: 2.5px;

  &-total {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1rem;
    margin: 2.5px;
    padding: 2.5px;
  }

  &-group {
    &--options {
      grid-area: 1/1/2/2;
    }
    &--filters {
      grid-area: 2/1/3/2;
      .MuiFormGroup-root{
        padding: 2.5px;
      }
      .CheckboxGroup-content, .InputRange-content{
        margin: 2.5px;
        padding: 2.5px;
      }
    }
    overflow: auto;
    &-header {
      font-weight: bold;
      font-size: 1.25em;
      padding: 5px;
      margin: 2.5px;
      border-radius: 2px;
    }
    &-content {
      display: flex;
      flex-direction: column;
      margin: 2.5px;
      padding: 2.5px;
    }
    &-button {
      width: 100%;
    }
  }

  .MuiButton-containedPrimary {
    margin-top: 5px;
    width: calc(100% - 5px);
  }
}
