.PlaySettings {
  grid-template-rows: 65px 327.5px 1fr 50px 55px;
  display: grid;
  grid-area: 1/3/4/4;
  height: calc(100% - 5px);

  &-group {
    &-options {
      grid-area: 2/1/3/2;
    }
    
    &-filters {
      grid-area: 3/1/4/2;
    }

    overflow: auto;
    &-button {
      width: 100%;
    }
  }
  &-total{
    height: 30px;
  }
}
