.Question {
  height: calc(100vh - 90px);

  &Hints{
    height: calc(100% - 65px);
  }

  &-timerBreak{
    width: 50px;
  }

  &Button.MuiButton-containedPrimary{
    height: 100%;
  }
}

.Question .QuestionDisplay{
  height: 250px;
}