.Question {
  height: calc(100vh - 55px);

  &-timer{
    cursor: pointer;
    width: 50px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  &Button.MuiButton-containedPrimary{
    margin: 5px;
    height: 50px;
    flex: 1;
  }

  &Timer {
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    margin: 5px;
    font-size: 1.25rem;
    font-weight: bold;
  }
}