.Question {
  height: calc(100vh - 90px);

  &Hints{
    height: calc(100% - 65px);
  }

  &Display{
    height: 250px;
  }

  &-timerBreak{
    width: 50px;
  }

  &Button.MuiButton-containedPrimary{
    height: 100%;
  }
}