.QuestionHints {
  &-list {
    border-radius: 5px;
    overflow: auto;
    height: calc(100% - 60px);

    &-item {
      width: calc(100% - 20px);
    }
  }

  .MuiButton-root{
    height: 100%;
  }
}