%CancelIcon {
  margin: 5px;
  cursor: pointer;
  fill: #f44336 !important;
  transition: transform 200ms ease-in-out;
  &:hover {
    transform: scale(1.15);
    transition: transform 200ms ease-in-out;
  }
}

.List {
  display: flex;
  padding: 5px;
  flex-direction: column;
  user-select: none;
  &-header {
    display: flex;
    margin-bottom: 5px;
    align-items: center;

    &-title {
      font-size: 1.25em;
      font-weight: bold;
      padding: 10px 0px;
      text-align: center;
      margin: 0 auto;
    }
    &-icons {
      display: flex;
      align-items: center;
      &--cancel {
        @extend %CancelIcon;
      }
    }
  }
  &-content {
    height: calc(100% - 25px);
    overflow: auto;
    position: relative;
    &-item {
      display: flex;
      margin: 5px;
      align-items: center;
      border-radius: 3px;
      &-field {
        margin: 5px;
        font-size: 1.15rem;
        display: flex;
        align-items: center;
      }
      &-icons {
        display: flex;
        align-items: center;
        &--cancel {
          @extend %CancelIcon;
        }
      }
    }
  }
}
