.Play {
  height: calc(100% - 10px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  padding: 5px;
  grid-gap: 5px;
  
  &-icons{
    position: absolute;
  }

  .List{
    height: calc(100% - 10px);
  }

  &-ErrorLogs{
    height: calc(100% - 15px);
    &-item {
      padding: 10px;
      border-radius: 4px;
      margin: 2.5px;
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .View{
    grid-area: 2/1/5/2;
  }


}