%CancelIcon {
  margin: 5px;
  cursor: pointer;
  fill: #f44336 !important;
  transition: transform 200ms ease-in-out;
  &:hover {
    transform: scale(1.15);
    transition: transform 200ms ease-in-out;
  }
}

.List {
  display: flex;
  flex-direction: column;
  user-select: none;
  margin: 2.5px;
  padding: 2.5px;

  &-header {
    display: flex;
    padding: 2.5px;
    margin: 2.5px;
    align-items: center;

    &-title {
      font-size: 1.25em;
      font-weight: bold;
      padding: 10px 0px;
      text-align: center;
      margin: 0 auto;
    }

    &-icons {
      display: flex;
      align-items: center;
      &--cancel {
        @extend %CancelIcon;
      }
    }

    .MuiCheckbox-root{
      padding-left: 5px;
    }
  }
  
  &-content {
    height: calc(100% - 25px);
    overflow: auto;
    position: relative;
    padding: 2.5px;
    margin: 2.5px;

    &-item {
      display: flex;
      margin: 2.5px;
      align-items: center;
      border-radius: 3px;
      padding: 5px;

      &-field {
        margin: 5px;
        font-size: 1.15rem;
        display: flex;
        align-items: center;
      }
      &-icons {
        display: flex;
        align-items: center;
        &--cancel {
          @extend %CancelIcon;
        }
      }
    }
  }
}
