.Quiz {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2.5px;
  position: relative;

  &-button.MuiButton-containedPrimary{
    margin: 0px 5px 5px 0px;
  }
}

.Upload{
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
