.QuestionDisplay{
  font-size: 1.25em;
  max-height: 250px;
  overflow: auto;

  p{
    margin: 0px;
  }

  &-image {
    position: relative;
    height: 250px;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .question-chunk {
    padding: 5px 10px;
    position: relative;
    top: -2px;
    border-radius: 5px;
  }
}