%flex{
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.Sort{
  &-add{
    @extend %flex;
  }

  &-content{
    &-item{
      &-order {
        margin-right: 10px;
      }
      &-delete,&-down,&-up{
        @extend %flex;
        padding: 0px 2px;
      }
    }
  }
}