.Error-Boundary{
  font-family: "Lato";
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: #232323;
  border-radius: 5px;
  color: white;
}