.ReportTable{
  height: calc(100% - 15px);
  overflow: auto;

  &Row{
    &-content{
      margin-bottom: 25px;
  
      &-stats{
        display: flex;
        .StackList{
          flex: 1;
        }
      }
    }
  }
}