.Report-Table{
  height: calc(100% - 15px);
  overflow: auto;

  &-item{
    margin-bottom: 25px;

    &-delete{
      display: flex;
      cursor: pointer;
      justify-content: center;
    }

    &-stats{
      display: flex;
      .StackList{
        flex: 1;
      }
    }
  }
}