.ListTable{
  &-headers-row, &-body-row{
    display: grid;
    grid-template-columns: 25px 200px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 10px;
  }

  &-body{
    overflow: auto;
    height: calc(100% - 50px);
  }

  &-body-row-item-title{
    overflow: auto;
  }

  &-headers-row-item{
    &-icon{
      font-size: 12px;
      margin-right: 3px;
    }
  }
}