.Report-Options{
  padding: 2.5px;
  margin: 2.5px;
  padding-bottom: 1.5px;
  width: 75%;

  &-container{
    padding: 2.5px;
    margin: 2.5px;
    margin-bottom: 5px;
    padding-bottom: 1.5px;

    &-item{
      padding: 5px;
      margin: 2.5px;
      margin-bottom: 5px;
      width: 50;
      display: flex;
      align-items: center;
      justify-content: center;

      &-explanation{
        padding: 5px;
        margin: 2.5px;
      }

      p{
        margin: 0px;
      }
    }
  }
}