.PlayErrorLogs {
  display: flex;
  flex-direction: column;
  padding: 2.5px;
  margin: 2.5px;
  height: 100%;

  &-header {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin: 2.5px;
  }

  &-content {
    overflow: auto;
    position: relative;
    margin: 2.5px;
    padding: 2.5px;
    height: 100%;
    
    &-item {
      padding: 10px;
      border-radius: 4px;
      margin: 2.5px;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}