.PlayErrorLogs {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: calc(100% - 10px);
  grid-area: 2/1/3/2;

  &-header {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  &-content {
    height: calc(100% - 25px);
    overflow: auto;
    position: relative;
    margin-top: 5px;
    &-item {
      padding: 5px;
      border-radius: 4px;
      margin: 3px;
      font-weight: 500;
      font-size: 1rem;
      width: calc(100% - 17px);
    }
  }
}