@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype'),
      url('/fonts/Lato-Bold.ttf') format('truetype'),
      url('/fonts/Lato-Light.ttf') format('truetype');
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

div:focus {
  outline: none;
}