.StackList{
  padding: 2.5px;
  margin: 2.5px;
  display: flex;
  flex-direction: column;

  &-header, &-content{
    padding: 2.5px;
    margin: 2.5px;
  }

  &-header{
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }

  &-content{
    display: flex;
    flex-direction: column;
    &-item{
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin: 2.5px;
      &-value{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
      }
    }
  }
}