.Report-Table{
  height: calc(100% - 10px);
  padding: 2.5px;
  margin: 2.5px;
  overflow: auto;

  &-item{
    padding: 2.5px;
    margin: 2.5px;
    margin-bottom: 25px;

    &-hints{
      margin: 2.5px;
      padding: 5px 0px;

      &-item{
        padding: 10px;
        margin: 5px;
      }
    }

    &-question{
      padding: 10px;
      margin: 2.5px;
      p{
        margin: 0px;
      }
    }

    &-image {
      position: relative;
      height: 250px;
      img {
        object-fit: cover;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: calc(100% - 10px);
      }
      padding: 2.5px;
      margin: 2.5px;
    }

    &-stats{
      display: flex;
      .StackList{
        flex: 1;
      }
    }
  }
}