.Report-Table{
  height: 100%;
  padding: 2.5px;
  margin: 2.5px;

  &-item{
    padding: 2.5px;
    margin: 2.5px;

    &-question{
      padding: 7.5px;
      margin: 2.5px;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
    }
  }
}