.Icon{
  &-Group{
    padding: 2.5px;
    cursor: pointer;
    display: flex;
    border-radius: 1px;
    opacity: 0.25;
    transition: opacity 250ms ease-in-out;
    z-index: 5;

    &:hover{
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }

    &-item{
      padding: 2.5px;
      margin: 2.5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}