.Report-Question{
  font-size: 1.25em;
  
  p{
    margin: 0px;
  }

  &-image {
    position: relative;
    height: 250px;
    img {
      object-fit: cover;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: calc(100% - 10px);
    }
    padding: 2.5px;
    margin: 2.5px;
  }
}