.Table {
  &-row {
    &-collapseheader {
      font-weight: bolder;
      text-transform: capitalize;
      font-size: 1.25em;
      display: flex;
      justify-content: flex-start;
      margin: 10px 0px;
    }
    &-collapsecontent {
      font-size: 1rem;
      display: flex;
      justify-content: flex-start;
      margin: 10px 0px;
    }
  }
}
