.Report {
  height: 100vh;
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 250px;

  &-Table{
    grid-area: 1/1/3/2;
  }

  &-Aggregator{

  }

  &-BackButton{
    display: flex;
    justify-content: flex-end;
    padding: 5px 5px;
  }
}
