.SideToggleMenu{
  &-sidebar{
    position: absolute;
    top: 0px;
    height: 100%;
    transition: left 250ms ease-in-out;
    z-index: 50;
    
    &-icons{
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
    }
  }
}
