.IconGroup{
  cursor: pointer;
  border-radius: 1px;
  opacity: 0.25;
  transition: opacity 250ms ease-in-out;
  z-index: 5;
  width: fit-content;

  &:hover{
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }
}