.Question {
  display: grid;
  grid-template-rows: 290px 1fr 110px;
  grid-template-columns: 1fr 350px;
  margin: 5px;
  height: calc(100vh - 5px);

  &-image {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }

  &Button.MuiButton-containedPrimary{
    margin: 5px;
    height: 50px;
    flex: 1;
  }

  &Timer {
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    margin: 5px;
    font-size: 1.25rem;
    font-weight: bold;
  }

  &-question {
    user-select: none;
    font-size: 1.5rem;
    height: 100%;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0px;
      font-weight: initial;
      strong {
        margin: 5px;
      }
      code {
        font-family: "Roboto Mono", monospace;
        background-color: #111;
        padding: 3px 10px 5px 10px;
        border-radius: 5px;
        margin: 5px;
        font-size: 1.25rem;
      }
    }
  }
}

.dark {
  .Question-question p code {
    background: rgb(19, 19, 19);
  }
}

.light {
  .Question-question p code {
    background: rgb(224, 224, 224);
  }
}

.Question-question-chunk {
  display: flex;
  align-items: center;
  font-size: 18px;

  &-text{
    margin: 0px 5px;
  }
  
  &-answer{
    font-size: 16px;
    margin: 0px 5px;
    background: white;
    padding: 5px;
    border-radius: 3px;
  }
}