.Preset{
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  display: flex;
  margin: 2.5px;
  
  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5px;
    width: fit-content;
  }

  .MuiFormGroup-root{
    flex: 1;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
  }
}