.Stats {
  user-select: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px;
  margin: 2.5px;

  &-item {
    user-select: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px;

    &-value {
      padding: 2px 5px;
      border-radius: 3px;
    }
  }
}
