@import "./utils/anim";

div#root {
  height: 100vh;
}

.markdown{
  p{
    margin: 0px;
  }
}

pre{
  padding: 2px 5px 4px 5px;
  border-radius: 3px;
}

.App {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato";
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  height: 100vh;
}
