@import "./utils/anim";

div#root {
  height: 100vh;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

%AppIcon {
  position: absolute;
  cursor: pointer;
  font-size: 1.25rem;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}

.App {
  height: 100%;
  &.dark {
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: rgb(33, 33, 33);
    }
    ::-webkit-scrollbar-thumb {
      background: rgb(95, 95, 95);
    }
    .App-icon {
      path {
        fill: rgb(246, 246, 246);
      }
      @extend %AppIcon;
    }
  }

  &.light {
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: rgb(224, 224, 224);
    }
    ::-webkit-scrollbar-thumb {
      background: rgb(255, 254, 254);
    }
    .App-icon {
      path {
        fill: rgb(66, 66, 66);
      }
      @extend %AppIcon;
    }
  }
  .MuiFormGroup-row {
    align-items: center;
  }
}
body {
  margin: 0;
  font-family: "Fira Sans";
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  height: 100vh;
}
