@import "./utils/anim";

div#root {
  height: 100vh;
}

.markdown{
  p{
    margin: 0px;
  }
}

.App {
  height: 100%;
  &.dark {
    pre{
      background: #212121;
      margin: 0px;
      padding: 5px;
    }
  }

  &.light {
    pre{
      background: rgb(224, 224, 224);
      margin: 0px;
      padding: 5px;
    }
  }
  .MuiFormGroup-row {
    align-items: center;
  }
}
body {
  margin: 0;
  font-family: "Lato";
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  height: 100vh;
}
