.QuestionInputs{
  grid-area: 2/1/4/2;
  height: calc(100% - 60px);
  padding: 2.5px;
  margin: 2.5px;

  .MuiInputBase-input.MuiInput-input{
    padding: 10px;
    padding-left: 0px;
  }

  &-item{
    width: calc(100% - 10px);
  }
}