.PlayListTable{
  grid-area: 1/2/4/3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.ListTable{
  margin: 2.5px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 50px 145px 50px;
  &-headers-row, &-body-row{
    display: grid;
    grid-template-columns: 25px 200px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    user-select: none;
  }

  &-body{
    overflow: auto;
    margin: 2.5px;
  }

  &-body-row-item--title{
    overflow: auto;
  }

  &-headers-row-item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;
    &-icon{
      font-size: 12px;
      margin-right: 3px;
    }
  }
}