.Settings {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  align-items: center;
  padding: 2.5px;
  max-width: 500px;

  &-icons{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  &-header{
    text-align: center;
    font-size: 1.25em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 5px;
    margin: 2.5px;
  }

  &-icon {
    font-size: 1em;
    padding: 2;
    cursor: pointer;
  }
  
  &-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5px;
    margin: 2.5px;

    .MuiFormControlLabel-root{
      padding: 0px 5px;
    }

    &-group{
      width: calc(100% - 10px);
      padding: 5px;
      margin: 5px;
      border-radius: 5px;
      .MuiInputLabel-root{
        margin-right: 20px;
        width: 100px;
        font-weight: bolder;
        text-align: center;
      }
      .MuiRadio-root{
        padding: 5px;
      }
      .MuiTypography-root{
        display: flex;
        padding-left: 5px;
      }
    }
  }
}
