.QuestionOptions {
  grid-area: 2/1/4/2;
  height: calc(100% - 40px);
  
  p{
    margin: 0px;
  }

  .MuiFormGroup-root {
    padding: 0px 7.5px;
    width: calc(100% - 15px);
    margin: 5px 0px 0px 0px;
    display: block;
  }

  &-container {
    width: 100%;
    padding: 10px;
    height: calc(100% - 10px);
    overflow: auto;

    &--Snippet {
      width: 50%;
      margin: 10px auto;
      height: fit-content;
    }

    &-item {
      padding: 10px;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      font-weight: bolder;
      margin: 0px 0px 10px 0px;
      align-items: center;
      width: calc(100% - 20px);
      height: 47.5px;

      &:nth-child(1) {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 10px;
      }

      .MuiTypography-body1 {
        font-size: 18px;
      }
      .MuiFormControlLabel-root {
        width: 100%;
        margin: 0px;
      }
      pre{
        padding: 0px 5px;
        background: white;
      }
    }
  }
  pre.Highlighter {
    margin: 0px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.75em;
    padding: 5px;
    border-radius: 5px;
  }
}

.Question-container-option-FIB {
  margin: 0px 10px;
}
