.Play {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 300px;
  grid-template-rows: 100px 1fr 1fr;
  grid-gap: 5px;
  
  .List{
    grid-area: 3/1/4/2;
    height: calc(100% - 15px);
  }

  &-content{
    .Play-pane{
      display: grid;
      grid-template-rows: 100px 620px 30px;
      height: 100%;
    }
    .View{
      grid-area: 2/1/3/2;
      .List {
        overflow: auto;
        border-radius: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
      }
    }
  
    .Help {
      grid-area: 3/1/4/2;
      user-select: none;
      text-align: center;
      padding: 5px;
      a {
        text-decoration: none;
        padding: 0px 5px;
        cursor: pointer;
        color: initial;
        font-weight: bolder;
      }
    }
  }
}
