.Play {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 327.5px 327.5px;
  
  .List{
    grid-area: 3/1/4/2;
    margin: 2.5px;
  }

  &-settings-icon{
    position: absolute;
    margin: 5px;
    cursor: pointer;
  }
}