.Report-Aggregator {
  padding: 2.5px;
  margin: 2.5px;

  &-header {
    font-weight: bold;
    font-size: 1.15em;
    padding: 5px;
    margin: 2.5px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 5px;
  }
  
  &-content{
    padding: 2.5px;
    margin: 2.5px;
    &-item {
      display: flex;
      justify-content: space-between;
      .MuiFormGroup-root{
        flex: 1;
      }
      &-value {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 2.5px;
        border-radius: 2.5px;
        width: 75px;
        word-break: break-word;
      }
  
      .MuiSelect-select.MuiSelect-select{
        padding: 5px;
        padding-left: 0px;
      }
    }
  }
}